<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  </head>

  <body>
    <div class="container">
      <h1>TLDR Blog for developers</h1>
      <a id="newPostBtn" href="/new">New Post</a>
      <ul id="postsList">
        <% posts.forEach(post=> { %>
        <li>
          <h2><%=post.title%></h2>
          <img
            src="<%= post.img%>"
            alt="<%=post.alt%>"
            width="800"
            height="500"
          />

          <p><%=post.content%></p>

          <small>Author: <%=post.author%> </small>
          <small> <%=post.date %> </small>
          <a class="read" href="<%= post.link %>" target="_blank">Read More</a>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
